main {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-image: url('../images/fundo/back.webp');

  background-size: cover; /* Esta propriedade ajusta a imagem para cobrir toda a tela */
  background-repeat: no-repeat; /* Isto evita que a imagem se repita */
  background-attachment: fixed; /* Isto faz com que a imagem de fundo fique fixa durante o scroll */
  background-position: center; /* Isto centraliza a imagem de fundo */
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 20px 20px 50px;
}

header {
  justify-content: left;
  text-align: center;
  font-size: 1em;
  width: 100%;
  margin: 10px 0 20px;
  color: yellow;
}

main, p {
  color: white;
  margin-top: 10px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: yellow;
}



.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.card {
  aspect-ratio: 3/4;
  width: 100%;
  border-radius: 5px;
  position: relative;
  transition: all 400ms ease;
  transform-style: preserve-3d;
  background-color: #ccc;
}

.face {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  border: 5px solid #fd0000;
  border-radius: 5px;
  transition: all 400ms ease;
}

.front {
  transform: rotateY(180deg);
}

.back {
  background-image: url('../images/fundo-carta/wp9535327.jpg');
  backface-visibility: hidden;
}

.reveal-card {
  transform: rotateY(180deg);
}

.disabled-card {
  filter: saturate(0);
  opacity: 0.5;
}

@media screen and (max-width:920px) {
  .grid {
    grid-template-columns: repeat(3);

  }
}